.navbar {
  position: relative;
  top: 0;
  padding: 10px 20px;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 40px;
  height: 35px;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 20px;
  padding-right: 30px;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
   color: #f4a261;
}
.nav-links li a:hover {
  color: rgb(200, 16, 16);
  transition: 0.3s;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(235, 234, 234);
  transition: all 0.3s ease;
  gap: 20px;
}


.bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.bar.open:nth-child(2) {
  opacity: 0;
}
.bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding-right: 50px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    width: 10px;
  }

  .nav-links li a {
    display: block;
    width: 100%;
    padding: 8px 0;
    border-top: 1px solid white;
  }
}
